:host {
	display: flex;
	width: 100%;
	height: 5.75vh;
	font-size: 0.75rem;
}

:host.not-stepperable input[type='button'] {
	display: none;
}

:host.not-stepperable input[type='number'] {
	border-radius: 6px;
	border-width: 1px 1px;
	text-align: left;
}

:host input[type='button'] {
	width: 20%;
	font-weight: bold;
	color: var(--color-primary-alt);
	background-color: var(--color-primary);
	border: 1px solid var(--color-secondary-alt);
	transition: ease 0.1s;
}

:host input[type='button']:hover {
	cursor: pointer;
	filter: brightness(120%);
}

:host input[type='button']:focus {
	outline: none;
}

:host input[type='button'].left {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

:host input[type='button'].right {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

:host input[type='number'] {
	width: 60%;
	height: 100%;
	flex-grow: 1;
	font-size: 1em;
	padding: 0 0.8vw;
	text-align: center;
	border: 1px solid var(--color-secondary-alt);
	border-width: 1px 0px;
	background-color: var(--color-primary-alt);
}

:host input[type='number']::placeholder {
	color: var(--color-placeholder);
}

:host input[type='number']:focus {
	outline: none;
}
