:host {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
}

.input-container {
	width: 30%;
	margin: 0 5%;
}

.input-container:first-child,
.input-container:last-child {
	margin: 0;
}

.text {
	text-align: center;
	margin-bottom: 1vh;
}

.container:last-child {
	margin-top: 4vh;
	align-items: center;
	justify-content: center;
}

.container:last-child img {
	width: 1rem;
	height: 1rem;
	margin: 0 0.25vw;
}

.container:last-child .equal {
	margin: 0 0.25vw;
}
