@let result = _result();

<div class="container">
    <div class="input-container">
        <div class="text">С валюты</div>
        <app-select-control [selectedIndex]="_selectedIndexes.from()" (selected)="_selectedIndexes.from.set($event)">
            @for (item of _service.items().array; track item.id){
                <option>{{ item.name }}</option>
            }
        </app-select-control>
    </div>

    <div class="input-container">
        <div class="text">В валюту</div>
        <app-select-control [selectedIndex]="_selectedIndexes.to()" (selected)="_selectedIndexes.to.set($event)">
            @for (item of _service.items().array; track item.id){
                <option>{{ item.name }}</option>
            }
        </app-select-control>
    </div>

    <div class="input-container">
        <div class="text">Сумма</div>
        <app-number-control (inputed)="_sum.set($event)"></app-number-control>
    </div>
</div>

@if (result !== null){
    <div class="container">
        <span>{{ _sum() }}</span>
        <img [src]="_selectedItems.from()?.iconSrc" alt="Исходная валюта">
        
        <span class="equal">=</span>

        <span>{{ _result() }}</span>
        <img [src]="_selectedItems.to()?.iconSrc" alt="Целевая валюта">
    </div>
}