table,
th {
	width: 100%;
	font-size: 0.8rem;
	font-weight: normal;
	table-layout: fixed;
	text-align: center;
	background-color: var(--color-primary-alt);
}

table {
	border-collapse: collapse;
	border: 1px solid var(--color-secondary-alt);
}

th {
	padding: 1vh 0.6vw;
	background-color: var(--color-background);
}

tr {
	border-bottom: 1px solid var(--color-secondary-alt);
}
