h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: calc(var(--h1-font-size) - 0.3rem);
}

.section {
	margin: 2vh 0;
}

.divider {
	width: 100%;
	height: 2px;
	margin: 2.5vh 0;
	background-color: var(--color-secondary-alt);
}

.settings {
	width: 20%;
	margin-left: 80%;
	margin-top: 10vh;
}
