.separator {
	height: 1px;
	margin: 2% 0;
	align-self: stretch;
	background-color: var(--color-secondary-alt);
}

.invisible {
	visibility: hidden;
}

.controls {
	display: flex;
	margin-top: 5vh;
	justify-content: flex-end;
}

.controls * {
	width: 25%;
}
