@let iconName = this.iconName();
@let isExpanded = this.isExpanded();

<li [class.special]="isSpecial()">
	<div class="text button" (click)="clicked.emit()">
		@if (iconName !== undefined){
			<mat-icon [svgIcon]="iconName" class="icon"></mat-icon>
		}

		<span>{{ value() }}</span>
	</div>

	@if (isExpanded !== undefined){
		<input type="button" class="expand button" (click)="this.isExpanded.set(!isExpanded)" [value]="isExpanded ? '-' : '+'">
	}
</li>

@if (isExpanded){
	<div class="items">
		<ng-content></ng-content>
	</div>
}