li {
	display: flex;
	width: 100%;
	height: 7.5vh;
	align-items: center;
	justify-content: flex-start;
	border: 1px solid var(--color-secondary-alt);
}

li .icon {
	width: 2.5vw;
	height: 60%;
	padding-left: 2%;
	padding-right: 4%;
	flex-shrink: 0;
}

li .text {
	display: flex;
	flex-grow: 1;
	height: 100%;
	padding-left: 2%;
	align-items: center;
	overflow: hidden;
}

li .text span {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

li .expand {
	display: flex;
	width: 3vw;
	height: 100%;
	padding: 0 3%;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	flex-shrink: 0;
}

li .button {
	background: none;
	border: none;
	font-size: 1rem;
	transition: ease 0.1s;
}

li .button:focus {
	outline: none;
}

li .button:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.15);
}

li.special .text {
	font-size: 0.8rem;
	font-style: italic;
	text-align: center;
}

.items {
	background-color: rgba(0, 0, 0, 0.05);
}
