h1 {
	margin-bottom: 5vh;
}

.card {
	display: flex;
	width: 75%;
	height: 15vh;
	padding: 0 0.25%;
	margin-bottom: 2vh;
	border-radius: 5px;
	align-items: center;
	border: 1px solid var(--color-secondary-alt);
	background-color: var(--color-primary-alt);
	transition: ease 0.25s;
}

.card:hover {
	cursor: pointer;
	background-color: var(--color-background);
}

.card-icon {
	width: 15%;
	height: 80%;
	color: var(--color-text);
}

.card-text {
	width: 90%;
	height: 100%;
	margin-left: 2%;
}

.card-header {
	display: flex;
	width: 100%;
	height: 40%;
	font-size: 1.15rem;
	font-weight: bold;
	align-items: center;
}

.card-description {
	width: 100%;
	height: 60%;
	font-size: 0.8rem;
	margin-top: 0.5vh;
}
