input {
	width: calc(100% - 0.8vw * 2);
	height: 2.8vh;
	font-size: 0.75rem;
	padding: 1vh 0.8vw;
	border: 1px solid var(--color-secondary-alt);
	border-radius: 6px;
	background-color: var(--color-primary-alt);
}

input::placeholder {
	color: var(--color-placeholder);
}

input:focus {
	outline: none;
}
