.container {
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}

.form-wrapper {
	margin: 0 3%;
}

.divider {
	width: 2px;
	align-self: stretch;
	background-color: var(--color-secondary-alt);
}
