:host {
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}

.form-wrapper {
	min-width: 25%;
	max-width: 40%;
	padding: 0 2%;
}

.input-wrapper {
	margin: 1.5% 0;
}

.separator {
	width: 2px;
	margin: 0 3%;
	align-self: stretch;
	background-color: var(--color-secondary-alt);
}
