@let config = _configManager.config();
@let isExpanded = config.expansion?.isExpanded ?? false;

<li [class.special]="config.isSpecial" [style.--level]="config.level">
	@if (config.iconName !== undefined){
		<mat-icon [svgIcon]="config.iconName" class="icon"></mat-icon>
	}

	<div class="text button" (click)="_onClick(config)">
		<span>{{config.text}}</span>
	</div>

	@if (config.expansion !== undefined){
		<input type="button" class="expand button" (click)="_toggleExpanded(config.expansion)" [value]="isExpanded ? '-' : '+'">
	}
</li>

@if (config.expansion !== undefined){
	<div class="items" [class.not-expanded]="!isExpanded">
		@for (subItemConfig of config.expansion.items; track subItemConfig.id){
			<app-sidebar-item [config]="_prepareItemConfig(subItemConfig, config.level + 1)" (clicked)="clicked.emit($event)"></app-sidebar-item>
		}
	</div>
}