table {
	width: 100%;
	font-size: 0.8rem;
	font-weight: normal;
	table-layout: fixed;
	text-align: center;
	background-color: var(--color-primary-alt);
}

table {
	border-collapse: collapse;
	border: 1px solid var(--color-secondary-alt);
}
