<header>
	<div class="header-item button" (click)="navToggled.emit()">
		<mat-icon svgIcon="nav"></mat-icon>
	</div>
	<div class="header-item" (click)="logoClicked.emit()">
		<img src="images/favicon.png" class="logo" alt="Лого" />
		<span class="logo-text">EcoHub</span>
	</div>

	@if (profileLogin !== null){
		<div class="header-item button profile" (click)="profileClicked.emit()">
			<mat-icon svgIcon="user"></mat-icon>
			{{ profileLogin() }}
		</div>
	} @else{
		<div class="header-item button profile" (click)="authClicked.emit()">Войти</div>
	}
</header>
