.separator {
	height: 1px;
	margin: 2% 0;
	align-self: stretch;
	background-color: var(--color-secondary-alt);
}

.controls {
	display: flex;
	margin-top: 5vh;
	justify-content: space-between;
}

.controls * {
	width: 25%;
}
