:host {
	display: flex;
	align-items: flex-end;
}

:host > * {
	margin: 0 0.5%;
}

:host > :first-child {
	margin: 0;
	margin-right: 0.5%;
}

:host > :last-child {
	margin: 0;
	margin-left: 0.5%;
}

img[src=''] {
	visibility: hidden;
}

.icon {
	width: 5%;
	height: 5.75vh;
}

.load {
	width: 22%;
}

.name {
	width: 20%;
}

.rate {
	width: 20%;
}

.rate div {
	text-align: center;
	margin-bottom: 1vh;
}

.create {
	width: 30%;
}
