:root {
	--color-background: #ebf1ef;
	--color-primary: #2d555d;
	--color-primary-alt: #ffffff;
	--color-secondary: #182e33;
	--color-secondary-alt: #d4d8d7;
	--color-text: #000000;
	--color-menu-level-2: #f2f2f2;
	--color-menu-level-3: #e5e5e5;
	--color-placeholder: #407984;

	font-size: 1.3vw;
}

* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	margin: 0;
	background-color: var(--color-background);
}

h1 {
	margin: 0;
	margin-bottom: 5vh;
	font-size: var(1.6rem);
}

input {
	font-size: 0.5rem;
}
