<!-- prettier-ignore -->

<td>
    <div class="container">
	@for (key of _itemsKeys(); track $index){
        @let item = _getItem(key);

        @switch (item.type) {
            @case ('icon') {
                <img [src]="item.iconSrc" alt="Изображение" />
            }
            @case ('number'){
                @if ('isEditing' in item){
                    <app-number-control [config]="item.config" (entered)="_onNumberValueChange(item, $event)"></app-number-control>
                }
                @else {
                    <span>{{ item.number }}</span>
                }
            }
            @case ('text'){
                @if ('isEditing' in item){
                    <app-text-control [config]="item.config" (entered)="_onTextValueChange(item, $event)"></app-text-control>
                }
                @else {
                    @if ('isSpecial' in item){
                        <span class="special">{{ item.text }}</span>
                    }
                    @else {
                        <span>{{ item.text }}</span>
                    }
                }
            }
            @case ('button'){
                <span class="button" (click)="buttonClicked.emit(key)">{{ item.text }}</span>
            }
        }
    }
    </div>
</td>
