<!-- prettier-ignore -->

<td>
    <div class="container">
	@for (key of itemsKeys(); track $index){
        @let item = getItem(key);

        @switch (item.type) {
            @case ('icon') {
                <img [src]="item.iconSrc" />
            }
            @case ('number'){
                @if ('isEditing' in item){
                    <app-number-input [isStepperable]="true" [value]="item.number" [config]="item.config" (valueChanged)="onNumberValueChange(item, $event)"></app-number-input>
                }
                @else {
                    <span>{{ item.number }}</span>
                }
            }
            @case ('text'){
                @if ('isEditing' in item){
                    <app-text-input [value]="item.text" [config]="item.config" (valueChanged)="onTextValueChange(item, $event)"></app-text-input>
                }
                @else {
                    @if ('isSpecial' in item){
                        <span class="special">{{ item.text }}</span>
                    }
                    @else {
                        <span>{{ item.text }}</span>
                    }
                }
            }
            @case ('button'){
                <span class="button" (click)="buttonClicked.emit(key)">{{ item.text }}</span>
            }
        }
    }
    </div>
</td>
